.pairDiv{
    max-height: 410px;
    min-height: 410px;
    overflow-x:hidden;
    overflow-y:auto
}

.pairs{
    background-color: bisque;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.pair{
    cursor: pointer;
}
.favorite{
    display: flex;
    align-items: center;
    margin: 0;
    color: rgb(128, 127, 127);
    cursor: pointer
}

.greenChange{
    color: rgb(4, 221, 4)

}

.redChange{
    color: rgb(223, 5, 5);
    
}

.choosePair{
    cursor: pointer;
}